body {
    background-color: #0b132b;
    color:#BAD7E9;;
    margin: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav{
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 60px;
    background-color:#1c2541;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}

.section {
    padding: 4rem 0 1rem;
    margin-top: 150px;
    margin-bottom: 150px;
}

.nav .nav-link-btn {
    display: flex;
    height: 100%;
    align-items: center;
    margin-right: 30px;
}

.nav-title {
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-link {
    color: #95BDFF;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.nav-link:hover {
    color: #BAD7E9;
}

.selected {
    color: #93BFCF;
    font-weight: 600;
}
.selected:hover {
    color: #BAD7E9;
    font-weight: 600;
}

/* perkenalan */
.perkenalan {
    height: 400px;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 100px;
    text-align: center;
}

.perkenalan .nama{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.perkenalan .nama .a {
    font-size: 20px;
    margin: 0px ;
}
.perkenalan .nama .b {
    font-size: 80px;
    margin: auto;
}
.perkenalan .nama .c {
    font-size: 20px;
    margin: auto;
}
/* perkenalan */

/* about me */
.foto-fariz {
    border-radius: 40px;
    margin-right: 20px;
}

.about-me {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.about-me .content {
    display: flex;
    justify-content: center;
}

.about-me .content .description{
    width: 300px;
    text-align: justify;
    margin-left: 20px;
    font-size: 16.5px;
}

.about-me-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}
/* about me */

/* Riwayat pendidikan */
#pend {
    margin-top: 75px;
    margin-bottom: 100px;
}

.title {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.pendidikan .wadah {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.pendidikan .wadah .kotak {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 500px;
    height: 120px;
    background-color: #1c2541;
    margin: 10px;
    border-radius: 10px;
}
.nama-sekolah{
    margin: 8px;
}
.lulus{
    font-size: 20px;
    color: #5bc0be;
    font-weight: 100;
    margin: 0px;
}
/* Riwayat pendidikan */

/* jadwal pelajaran */
#jadwal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
TH{
    padding: 10px;
    color: #2B3467; background-color: #BAD7E9; border-width: 1px;
    border-style: solid; border-color: white; font-size: 9pt;
}
TD{
    padding: 10px;
    color: #93BFCF; background-color: #0b132b; border-width: 1px;
    border-style: solid; border-color: #1c2541; font-size: 9pt;
}
/* jadwal pelajaran */

/* AKTIVITAS */
#aktif {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.none {
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
}
/* AKTIVITAS */

/* FOOTER */
footer {
    padding: 9px;
    background-color: #1c2541;
    height: 200px;
}
.footer_social{
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}
i {
    font-size: 40px;
    color: cyan;
}

ul {
    padding: 0;
    list-style: none;
}

.footer_credit{
    display: block;
    margin-top: 4px;
    color: #95BDFF;
    text-align: center;
    font-size: 10px;
}
/* FOOTER */

/*Scroll */
::-webkit-scrollbar{
    width: 7px;
    border-radius: 10px;
    background-color: #1c2541;
}

::-webkit-scrollbar-thumb{
    background-color: #BAD7E9;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #95BDFF;
}